page-films {
  .caption{
    padding-left: 5%;
    padding-bottom: 15px;
  }
  .image{
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .title{
    padding-top: 15px;
  }
  .more{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
